<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cnvoteproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AlertActivity"
            android:theme="@style/MaterialTheme.NoActionBar"></activity>
        <activity
            android:name=".ShowActivity"
            android:theme="@style/MaterialTheme.NoActionBar"></activity>
        <activity
            android:name=".ServerActivity"
            android:theme="@style/MaterialTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SolvedActivity"
            android:theme="@style/MaterialTheme.NoActionBar" />
        <activity
            android:name=".Problems.ProblemSixActivity"
            android:theme="@style/MaterialTheme.NoActionBar" />
        <activity
            android:name=".Problems.ProblemFiveActivity"
            android:theme="@style/MaterialTheme.NoActionBar" />
        <activity
            android:name=".Problems.ProblemFourActivity"
            android:theme="@style/MaterialTheme.NoActionBar" />
        <activity
            android:name=".Problems.ProblemThreeActivity"
            android:theme="@style/MaterialTheme.NoActionBar" />
        <activity
            android:name=".Problems.ProblemTwoActivity"
            android:theme="@style/MaterialTheme.NoActionBar" />
        <activity
            android:name=".Problems.ProblemOneActivity"
            android:theme="@style/MaterialTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/MaterialTheme.NoActionBar"></activity>
    </application>

</manifest>